body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 40%;
    background-color: #0e2045;
    margin:  50px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}
.titulo{
    margin: 30px auto;
    padding: 7px;
    border-radius: 10px;
    width:50%;
    text-align: center;
}
.titulo h1{
    color: white;
}
.resultado {
    position: relative;
    width: 43%;
    margin: 10px auto;
}

.resultado input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    padding-right: 50px;
    border: none;
    background-color: #151330;
    color: white;
}

.resultado button {
    position: absolute;
    height: 100%;
    right: 0%;
    left:85%;
    top: 50%;
    width: 15%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.resultado button:hover{
    background-color: #686688;
}
.configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opciones {
    color: white;
    display: flex;
    gap: 15px;
    margin: 5px 0;
}
.opciones label {
    margin: 0;
    width: 200px;
}
.opciones input[type="number"] {
    width: 28px;
    margin: 0;
}
.opciones input[type="checkbox"] {      
    width: 15px;
    height: 15px;     
    cursor: pointer;
    
}

.generar {
    margin-top:50px;
    text-align: center;
}
.generar button {
    padding: 10px 20px;
    border: none;
    background-color: #373369;
    color: white;
    cursor: pointer;
}
.generar button:hover {
    background-color: #686688;
    transform: scale(0.98);
}
.generar button:active { 
    transform: scale(0.8);
}
